# This is my First Code Class
```

In [ ]:
print("hello world")

hello world

## Hello World

In [ ]:
print("I am Noor")

I am Noor

## Variables

In [ ]:
my_name = "Noor" # = is an assignment operator
print(my_name)
print(my_name)
print(my_name)

Noor
Noor
Noor

In [ ]:
any_number = 5 #variable has the address where this 5 is stored
print(any_number) # here i am referring the memory address.

## String data type

In [ ]:
name = "My name is Noor" # single quote and double quote can be used for strings
number = '6'
type(number)

str

# Code with Type Annotation/Type Hinting

In [ ]:
name : str = "My name is Rehan"
print(name)

My name is Rehan

In [ ]:
number_1 = 7
number_2 = "5" #intentionally string given
print(number_1 * number_2)

5555555

In [ ]:
number_1 : int = 7
number_2 : int= 5
print(number_1 * number_2)

# Type checking is at the the time of writing code
# Type check is not done at runtime

35