<a href="https://colab.research.google.com/github/nooruluzair/Modern-AI-Python-Programming-Panaversity/blob/main/Class07_Tuple_and_Dictionary_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Types of Copy
- Shallow Copy
- Deep copy

##Tuple
- Sequence Data type
- ordered
- iterable
- immutable

In [1]:
num_tuple = (1,2,3,4,5)

print(type(num_tuple))

<class 'tuple'>

In [4]:
tuple2 = (1) # If single element we need to add comma at end, otherwise it will be int to python
type(tuple2)
print(type(tuple2))

tuple3 = (1,)
type(tuple3)
print(tuple3)

tuple4 = 2,3,4,5,
type(tuple4)
print(tuple4)

<class 'int'>
(1,)
(2, 3, 4, 5)

In [9]:
days = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'] #list square bracket
days[0] = "Sun"
print(days)

days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun') #tuple round bracket or no bracket bracket, #intentional error
days[0] = "Sun"
print(days)

['Sun', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']

TypeError: 'tuple' object does not support item assignment

In [13]:
days = ('Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun')
print(days[0])

Mon

In [23]:
tuple1 : tuple[int,...]= (1,2,3) #...(elipses mean all numbers are integer)
print(id(tuple1))

tuple2 : tuple [int]= (1,2,3,4,5,)
print(id(tuple2)) #seeing memory address

133727630930624
133727631057088

In [24]:
tuple_methods: list = [method for method in dir(tuple) if not method.startswith("__")] #
print(tuple_methods)

['count', 'index']

In [25]:
new_tuple = (1,2,3, [100,200])
print(new_tuple)

(1, 2, 3, [100, 200])

In [26]:
new_tuple[3].append(300)
print(new_tuple)

(1, 2, 3, [100, 200, 300])

## Hashable

In [32]:
new_list = [(9.33,56.99),(10.34,567.8)]
new_list[0] = (100,200)
print(new_list)

[(100, 200), (10.34, 567.8)]

##Dictionary
- key and value
- order doesnt matter in dictionary

In [33]:
student_dict = {
                "name" : "Noor", #1st item
                "age" : 25,
                "course" : "Python"
                }
                #key : value
# student_dict = {key:value,}
print(student_dict)

{'name': 'Noor', 'age': 25, 'course': 'Python'}

In [34]:
student_dict["name"]

'Noor'

In [35]:
student_dict["name"] = "Uzair"
print(student_dict)

{'name': 'Uzair', 'age': 25, 'course': 'Python'}

In [44]:
student_dict = {
                "name" : "Noor",
                "name" : "Uzair",
                "age" : 25,
                "course" : "Python"
                }
print(student_dict["name"])
print(student_dict)

Uzair
{'name': 'Uzair', 'age': 25, 'course': 'Python'}

In [43]:
int_dict = {1:100,2:200,3:300}
print(int_dict)

bool_dict = {True: "Noor", False: "Uzair"}
print(bool_dict)

{1: 100, 2: 200, 3: 300}
{True: 'Noor', False: 'Uzair'}

In [46]:
name = "noor"
print(hash(name))

-7572384397917733312

In [47]:
name = "Noor"
print(hash(name))

9128440443957571280

In [ ]:
list_name = ["ammar", "Amamr"]
print(hash(list_name))

#dictionary key can have only hashashable/immutable datatypes

In [48]:
new_list = ["ammar", "rehan", "Saad"]
new_tuple = ("ammar", "rehan", "Saad")

print("rehan" in new_list)

print("rehan" in new_tuple)

True
True

In [50]:
dict_methods: list = [method for method in dir(dict) if not method.startswith("__")] #
print(dict_methods)

['clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [57]:
print(new_student_dict.get("name"))

Uzair

In [61]:
print(new_student_dict.get("class"))

print(new_student_dict.get("class", "Not found"))

None
Not found

In [62]:
new_student_dict = {
                "name" : "Noor",
                "name" : "Uzair", #python kept the last one
                "course" : "Python"
                  }

print(new_student_dict.keys())

dict_keys(['name', 'course'])

In [63]:
new_student_dict = {
                "name" : "Noor",
                "name" : "Uzair", #python kept the last one
                "course" : "Python"
                  }

print(new_student_dict.values())

dict_values(['Uzair', 'Python'])

In [64]:
new_student_dict = {
                "name" : "Noor",
                "name" : "Uzair", #python kept the last one
                "course" : "Python"
                  }

print(new_student_dict.items())

dict_items([('name', 'Uzair'), ('course', 'Python')])

In [66]:
new_student_dict = {
                "name" : "Noor",
                "name" : "Uzair", #python kept the last one
                "course" : "Python"
                  }
new_student_dict["city"] = "Islamabad"
print(new_student_dict)

{'name': 'Uzair', 'course': 'Python', 'city': 'Islamabad'}

In [69]:
new_student_dict.update({"city" : "Islamabad"})
print(new_student_dict)

{'name': 'Uzair', 'course': 'Python', 'city': 'Islamabad'}

In [70]:
new_student_dict.clear()
print(new_student_dict)

{}